/* Column Widths */
$wrapper-width:				1024px;

$wrapper-medium:			40em;
$wrapper-large:				80em;


/* Colours */
$hover-light: 				#f3f3f3;
$accent-colour: 			#799cc0;
$grey:						#333;

$highlight-change:			#eaffea;
$highlight-change-words: 	#6aee61;

$highlight-deletion:		#ffecec;
$highlight-deletion-words:	#6aee61;