
.versions {
	border-collapse: collapse;
	margin: 0 auto;
	padding: 0;
	width: 100%;

	td {
		margin: 0;
		padding: 0;
	}

	tbody {
		tr {
			&:hover {
				background-color: $hover-light;
				cursor: pointer;
			}
		}
	}

	.title {
		text-align: left;
		width: 60%;
	}

	.created_at {
		text-align: center;
		width: 20%;
	}

	.source {
		text-align: center;
		width: 10%;
	}

	.version {
		text-align: center;
		width: 10%;
	}

	.version_title {
		cursor: pointer;
		display: block;
		padding: 5px;
		text-decoration: none;
	}

	.version_text {
		font-size: 0.8em;
		margin-top: 0;
	}
}


.version_diff {
	width: 100%;
	margin-top: 1em;

	td, th {
		width: 50%;
	}

	tr:target td {
		background: #ffffaa;
		padding: 0.5em;;
	}

	.title {
		font-size: 1.2em
	}

	.time {
		text-align: center;
		font-size: 0.9em;
	}
}

