h1, h2, h3 {
  margin: 0 0 0.2em 0;
  padding: 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
}
h1#itemlabel {
  text-align: center;
  font-weight: bold;
}