nbproject
db/*.sqlite3
ferret_index
log/*
config/database.yml
tmp/cache
tmp/sessions
doc/app
db/development_structure.sql
xapian/
.bundle
vendor/bundle
config/secrets.yml
.rspec
public/assets
tmp/
.DS_Store