<% if session[:admin] %>
<p>You are currently logged in.  Click here to <%= link_to "log out", :action => 'logout' %></p>
<% else %>
<%= start_form_tag :action => 'login' %>
<p>Enter password <%= password_field_tag 'pswd'%> <%= submit_tag 'Login' %></p>
<%= end_form_tag %>
<% end %>
