body {
	color: #111;
	font: 1em/1.4em "Trebuchet MS", Arial, sans-serif;
	margin: 0;
	padding: 0;
  background-color: #fff;
}

a {
  color: #4d6175;
	text-decoration: none;
}

a:visited {
}

a:hover {
	color: #fff;
	text-decoration: underline;
  background-color: #4d6175;
}

input, textarea {
	background: #F3F6ED;
	font-size: 1.3em;
}

h1, h2, h3, h4 {
	font-weight: normal;
	letter-spacing: 1px;
}

hr {
	border-top: #BBC4A3 1px solid;
}
#content {
  padding: 0 10px 0 10px;
  font-size: 1em;
}
#content ul {
	margin-left: 0;
	padding-left: 45px;
}

#content ul li {
	padding-left: 1.5em;
}
.narrow {
  width: 550px;
}

#rap {

	margin: 0 auto;
	padding: 0px;
	text-align: left;
	width: 910px;
}
#header {
  background: #211 url(layout/top-bg.png);
  height: 58px;
  margin: 0;
  text-align: left;
  padding-top: 1px;
}
#header ul {
  margin: 0px;
  padding: 11px 2em 0 0;
  text-align: right;
}
#header ul li {
  display: inline;
  padding-left: 0.9em;
}
#header ul li a {
  color: #fff;
}
#logo {
  float: right;
  margin: 0px 0px 0 0;
}
#crossbar {
  background-color: #b4c6d9;
  height: 5px;
  margin-bottom: 10px;
}
#nav {
  margin-left: 0px;
  margin-top: 29px;
}

#nav ul {
  margin: 11px 0 0 38px;
  padding: 0;
  list-style:none;
  font-size: 80%;
  line-height: 10px;
}

#nav li {
  float:left;
  margin: 0 10px 0 0;
}

#nav a {
  float:left;
  display:block;
  background: #997 url(layout/tabbg.png) repeat-x left top;
  padding: 9px 20px;
  text-decoration: none;
  border: none;
  font-weight: bold;
  color: #fff;
  border-color: #b4c6d9;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  outline: none;
  height: 10px;
}

#nav a.selected {
  color: #4d6175;
  border-color: #4d6175;
  background: #d1dbe8 url(layout/tabbg-selected.png) repeat-x left top;
}

#nav a:hover {
  color: #000;
}

#nav #current {
}

#nav #current a {
  color: #fff;
  padding-bottom:5px;
}


#nav-r {
  position: absolute;
  top: 70px;
  right: 40px;
}

#sidebar {
  font-size: 0.9em;
  display: inline;
  width: 186px;
  float: left;
  margin: 0 0px 0 2px;
  padding: 0 0 10px 0;
}
#sidebar ul h2 {
  color: #4d6175;
	font-size: 1.1em;
	font-weight: bold;
	height: 22px;
	margin: 0 0 0 3px;
	padding: 2px;
  line-height: 1.6em;
  text-align: left;
}
#sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0px;
}

#sidebar ul ul {
  color: #4d6175;
	font-size: 0.9em;
	list-style-type: square;
	margin: 0 0 10px 0;
	padding: 5px;
}
#sidebar p {
}
#sidebar ul ul.nobullet {
  list-style-type: none;
}
#sidebar ul ul li {
  margin-left: 15px;
}
#sidebar ul ul.nobullet li {
  margin: 0;
}

#farsidebar {
  width: 160px;
  float: right;
  margin: 0 0 1em;
}

#footer {
  clear: both;
	color: #888;
	font-size: 0.8em;
	margin: 0 auto;
	padding: 7px 0;
	text-align: center;
}

#search {
		margin-bottom: 1em;
}
#box input.searchbox {
  padding: 0.5em;
  width: 90%;
}

div.post {
  padding: 1em 0 2em 0.5em;
}
          
div#notice {
        text-align: center;
        color: green;
        padding: 0.5em 1em 0.5em 1em;
        width: 300px;
        margin: 0 auto 2em auto;
}
div#error {
        text-align: center;
        color: red;
        padding: 0.5em 1em 0.5em 1em;
        width: 300px;
        margin: 0 auto 2em auto;
}

h1, h2, h3 {
  margin: 0 0 0.2em 0;
  padding: 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
}
h1#itemlabel {
  text-align: center;
  font-weight: bold;
}

a:hover, #sidebar ul ul li a:hover {
  background-color: 4d6175;
  color: #fff;
}

div#randombox {
  margin-top: 1em;
  text-align: center;
}
div#randombox img {
  border: 1px solid #000;
}
div#farsidebar {
  float: right;
  width: 170px;
  padding-top: 10px;
}

span.match {
  background-color: #f9ef7a;
}
p.comment-meta {
  font-size: 0.8em;
  color: #888;
}
p.comment-toolbar {
  font-size: 0.8em;
  text-align: right;
}

ins {
  background-color: #baffb1;
  text-decoration: none;
}

ins > ins {
  background-color: #6aee61; 
	text-decoration: none;
}

del {
  background-color: #ffc2c2;
  text-decoration: none;
}

del > del {
  background-color: #ee8888;
}

div.comment-description {
  background-color: #EEEDF6;
  border: 1px solid #ddd;
  padding: 10px;
}

table.versions {
		width: 700px;
}
table.versions td {
		padding-bottom: 0.5em;
}
table.versions th.title {
		text-align: left;
}
table.versions .created_at {
		width: 9em;
}
table.versions .source {
		width: 5em;
		text-align: center;
}
table.versions .version {
		width: 3em;
		text-align: center;
}
table.versions a.version_title {
		text-decoration: none;
}
table.versions p.version_text {
		font-size: 0.8em;
		margin-top: 0;
}


div.pagination {
		padding-top: 1em;
}
div.pagination span.current {
		font-weight: bold;
}

div.pagination a, div.pagination span.next_page, div.pagination span.prev_page, div.pagination span.current, div.pagination span.gap {
		padding: 0 0.3em 0 0.3em;
		text-decoration: none;
}

div.pagination span.prev_page, div.pagination a.prev_page {
		padding-left: 20px;
		background-image: url(/images/arrow_left.png);
		background-position: center left;
		background-repeat: no-repeat;

}

div.pagination span.next_page, div.pagination a.next_page {
		padding-right: 20px;
		background-image: url(/images/arrow_right.png);
		background-position: center right;
		background-repeat: no-repeat;
}

div.pagination a:hover {
		text-decoration: underline;
}
div.version_list {
		text-align: center;
		width: 100%;
}

table.version_diff {
		width: 100%;
		margin-top: 1em;
}
table.version_diff td, table.version_diff th {
		width: 50%;
}
table.version_diff tr:target td {
   background: #ffffaa;
	 padding: 0.5em;;
}
table.version_diff td.time {
		text-align: center;
		font-size: 0.9em;
}
table.version_diff th.title {
		font-size: 1.2em
}