<% @title = "About News Sniffer" -%>
<div class="narrow">
<h1>About News Sniffer</h1>

<p>News Sniffer monitors news websites and detects when articles change.  
The versions are viewable and the changes are highlighted.</p>

<p>It currently monitors a few key feeds from the BBC News website, The
Guardian and The Independent.

<p>You can contact the News Sniffer author by email at <a
aref="mailto:hello@newssniffer.co.uk">hello@newssniffer.co.uk</a>.</p>


</div>
