<% @title = "About Revisionista" -%>
<div class="narrow">
<h1>Revisionista</h1>
<p>Revisionista monitors news websites and detects when articles change.  
The versions are viewable and the changes are highlighted.</p>

<p>It currently monitors a few key feeds from the BBC News website, The
Guardian and The Independent.  Feel free to suggest other feeds to us.</p>

<p>The majority of revisions 
