<h1>Recommended Censored Comments</h1>
<p>These comments were recommended by News Sniffer visitors.</p>
<% if @search %>
  <h2>Search results for '<%= h @search %>'</h2>
  <br/>
<% end %>

<%= render :partial => "comment", :collection => @comments %>

<%= render_partial 'partials/paginator', @comments_pages %>
