<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  <title>News Sniffer<%= " - " + h(@title) if @title -%></title>
  <%= @head_html unless @head_html.nil? %>
  <link href="/stylesheets/newsniffer.css" media="screen" rel="Stylesheet" type="text/css" />
  <script src="/javascripts/prototype.js" type="text/javascript"></script>
  <script src="/javascripts/effects.js" type="text/javascript"></script>
  <script src="/javascripts/dragdrop.js" type="text/javascript"></script>
  <script src="/javascripts/controls.js" type="text/javascript"></script>
  <script src="/javascripts/application.js" type="text/javascript"></script>
  <% @discovery_links.each do |l| -%>
  <%= auto_discovery_link_tag(:rss, l.first, :title => l.last) %>
  <% end if @discovery_links -%>
</head>
<body>
    <div id="header">
      <img src="/stylesheets/layout/pinleft.png" alt="" id="pinleft"/>
      <img src="/stylesheets/layout/newsniffer-text.png" alt="News Sniffer" id="logo"/>
  	  <div id="nav">
          <ul>
      	    <li><%= link_to 'Home', {:controller => 'pages',
      	      :action => 'summary' },
              :class => (controller.controller_name == 'pages' and controller.action_name == 'summary') ? "selected" : "" %></li>
      	    <li><%= link_to 'About', { :controller => 'pages',
      	      :action => :about }, :class => (controller.controller_name == 'pages' and controller.action_name != "summary") ? "selected" : "" %></li>
      	    <li><%= link_to 'Revisionista',
      	      { :controller => 'news_articles', :action => 'list_revisions', :page => nil, }, 
              :title => 'Corporate news article revisions',
              :class => controller.controller_name == "news_articles" ? "selected" : ""%></li>
            <li><a href="/blog/">Blog</a></li>
          </ul>
  	  </div> 
    </div>
    <div id="crossbar">
    </div>
      <div id="sidebar">
        <ul>
        <%= render :partial => "partials/sidebar_wym" if 
          controller.controller_name =~ /bbchys/ -%>
        <%= render :partial => "partials/sidebar_pages" if
          controller.controller_name == 'pages' %>
        <%= render :partial => "partials/sidebar_revisionista" if 
          controller.controller_name == "news_articles" -%>
          <li>&nbsp;</li>
        </ul>
      </div>
      <div id="content">

        <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
        <%= javascript_tag visual_effect(:highlight, 'notice',
        	:duration => 2) %>
        <% end -%>
        <% if flash[:error] -%>
        <div id="error"><%= flash[:error] %></div>
        <%= javascript_tag visual_effect(:highlight, 'error', :duration => 2)%>
        <% end -%>

        <%= yield %>
      </div>

      <div id="footer">
        <small><a href="http://www.brightbox.co.uk" title="UK based Ruby on Rails hosting">Ruby on Rails hosting by Brightbox</a></small>
      </div>
</body>
</html>
